<header class="main-header">
    <div class="container flex flex-between flex-align-center">
        <!-- Logo and Menu Icon -->
        <div class="flex flex-align-center gap-1">
            <div class="menu-icon" style="cursor: pointer; padding: 5px;">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="3" y1="12" x2="21" y2="12"></line>
                    <line x1="3" y1="6" x2="21" y2="6"></line>
                    <line x1="3" y1="18" x2="21" y2="18"></line>
                </svg>
            </div>
            <a href="index.html" class="nav-brand">
                <img src="assets/img/logo-ctgquimica.webp" alt="CTG Química Logo" class="main-logo">
            </a>
        </div>

        <!-- Navigation Links -->
        <nav>
            <ul class="nav-menu">
                <li><a href="index.html" class="active">Página Inicial</a></li>
                <li><a href="empresa.html">Sobre</a></li>
                <li><a href="#">Segmentos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>

        <!-- Utils and CTA -->
        <div class="nav-utils">
            <div class="contact-info">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor">
                    <path d="M20 15.5c-1.2 0-2.4-.2-3.6-.6-.3-.1-.7 0-1 .2l-2.2 2.2c-2.8-1.4-5.1-3.8-6.6-6.6l2.2-2.2c.3-.3.4-.7.2-1-.3-1.1-.5-2.3-.5-3.5 0-.6-.4-1-1-1H4c-.6 0-1 .4-1 1 0 9.4 7.6 17 17 17 .6 0 1-.4 1-1v-3.5c0-.6-.4-1-1-1zM19 12h2c0-4.8-3.9-8.7-8.7-8.7v2c3.7 0 6.7 3 6.7 6.7z"></path>
                </svg>
                +55 (41) 99153-6821
            </div>
            <a href="#" class="btn btn-primary">Fale Conosco</a>
        </div>

    </div>
</header>